{% extends "template.html" %}
{% block conteudo %}

<div class="text-center pb-2 pt-5">
  <h3 class="tittle-font">SISTEMA DE PRESENÇA DE ESTÁGIO</h3>
</div>
<div class="d-flex align-items-center justify-content-center vh-100 pt-2">
  <form class="login-form" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Login</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="password">
    </div>
    <button type="submit" class="btn btn-secondary w-100">Entrar</button>
  </form>
</div>

{% endblock %}